.auth-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  background-color: #f4f4f4;
}

.welcome-section {
  flex: 1;
  background-color: #fbc02d; /* Bright yellow */
  color: white;
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.welcome-section h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.welcome-section p {
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.welcome-section img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.signup-form-container {
  flex: 1;
  background: white;
  padding: 110px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 450px;
}

.signup-form-container h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  height: 50px;
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  background-color: #167bff;
  color: white;
  padding: 15px;
  border-radius: 5px;
  border: none;
  width: 100%;
  font-size: 1.2rem;
  margin-top: 20px;
}

.alert-info {
  background-color: #e7f3fe;
  color: #31708f;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.forgot-password {
  text-align: right;
  font-size: 14px;
}

.forgot-password a {
  color: #167bff;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}
